<%= form_with(model: post, class: 'needs-validation', data: { 'was-validated': 'true' }) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3" style="margin-left: 20px;">
    <%= form.label :category, 'カテゴリー', class: 'form-label' %>
    <%= form.select :category, ['生活', '仕事', '健康'], { include_blank: 'カテゴリーを選択してください' }, class: 'form-select', required: true %>
  </div>

  <div class="mb-3" style="margin-left: 20px;">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control', required: true, style: 'width: 300px;' %>
  </div>

  <div class="mb-3" style="margin-left: 20px;">
    <%= form.label :content, 'コンテンツ', class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control', required: true, style: 'width: 600px;' %>
  </div>

  <div class="mb-3" style="margin-left: 20px;">
    <%= form.label :priority, '優先度', class: 'form-label' %>
    <%= form.select :priority, [['高', '高'], ['中', '中'], ['低', '低']], { include_blank: '優先順位を選択してください' }, class: 'form-select', required: true %>
  </div>

  <div class="mb-3 form-check" style="margin-left: 20px;">
    <%= form.label :public, class: 'form-check-label' do %>
      <%= form.check_box :public, class: 'form-check-input', checked: true %>
      公開
    <% end %>
  </div>

  <div class="mb-3" style="margin-left: 20px;">
    <%= form.submit '作成', class: 'btn btn-primary' %>
  </div>
<% end %>
